/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.editor {
  width: 100%;
  height: 100%;
  background: url('../assets/field.png');
  background-size: 100% 100%;
  position: relative;
}
.ball {
  width: 4.19708029197080292%;
  height: 2.81329923273657289%;
  background: url('../assets/ball.png');
  background-size: 100% 100%;
  position: absolute;
  cursor: pointer;
  z-index: 10000;
}
.player {
  width: 3.467153284671532847%;
  height: 3.580562659846547315%;
  position: absolute;
  background: url('../assets/player.png');
  background-size: 100% 100%;
  cursor: pointer;
}
.player .label {
  position: absolute;
  display: block;
  color: white;
  bottom: 110.714285714285714286%;
  left: -263.157894736842105263%;
  width: 626.315789473684210526%;
  font: 9pt Verdana, sans-serif;
  text-align: center;
    text-shadow:
     -1px -1px 0 #000,  
      1px -1px 0 #000,
     -1px  1px 0 #000,
      1px  1px 0 #000;
}